<div class="cards-experience">
  <mat-card class="cards-experience_card" *ngFor="let job of experiences">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{job.companyName}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="header-image" [src]="'../../../assets/img/'+job.logo" alt="{{job.companyName}}">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Linkedin</button>
    </mat-card-actions>
  </mat-card>
</div>
