<p>
  I was raised in born in Argentina, in a small city called Necochea, in the south coast of the province of Buenos Aires. <br/><br/>

  I studied Software Engineer in Tandil at the Universidad Nacional del Centro (UNICEN). <br/><br/>

  After working in that city for several years in differents companies, together with my partner we decided to move abroad and travel as much as we can before we settle down. <br/><br/>

  In my spare time I play football a lot, I started to play since I was kid. And I am currently playing for a small club in the amateur league , at the south of Amsterdam, called RAP. <br/><br/>

  Music is also one my pashions, after playing around with all the furniture in my house, I finally decided to start learning how to play the drums.
  Something that I have being doing for the last 20 years and I still enjoy playing the same old punk rock songs that I used play with my friends when I was a teenager. <br/><br/>
</p>
