.cards-experience {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 15px;
  .cards-experience_card {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      cursor:pointer;
    }
  }
  .top{
    background: #cedc3926;
    margin: -16px -16px 2px -16px;
    padding: 8px;
  }
}

.with-border{
  border: solid #cedc39 6px;
  border-width: 0 0 4px 0;
  padding-bottom: 7px;
}
